.h1T {
  color: #00BCD4;
}

.item {
  list-style: none;
  border: 1px solid gray;
  border-radius: 4px;
  width: 200px;
  padding: 0.5em;
  margin: 0.5em 0;
  outline: 0;
  color: #FF4081;
  cursor: pointer;
  transition: .3s;
}

.item:hover {
  color: white;
  background: #7C4DFF;
}